.player__seek-bar {
  margin: auto;
  overflow: hidden;
  -webkit-appearance: none;
  position: absolute;
  z-index: 5;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
}
.player__song.active .player__seek-bar {
  display: block;
  cursor: ew-resize;
}
/* .player__seek-bar::-webkit-slider-runnable-track {
  height: 100%;
} */
/*-------------------------------------*/
/* #progress {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 0;
  } */

.player__seek-bar::-webkit-slider-runnable-track {
  background: transparent;
}

/*
  * 1. Set to 0 width and remove border for a slider without a thumb
  * 2. Shadow is negative the full width of the input and has a spread 
  *    of the width of the input.
  */
.player__seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 100%;
  background: #fff;
  /* box-shadow: -1000px 0 0 1000px #37cd0d; 2 */
}

.player__seek-bar::-moz-range-track {
  height: 40px;
  background: #000;
}

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 0;
  /* border: 3px solid #999; */
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px dodgerblue;
  box-sizing: border-box;
}

.player__seek-bar::-ms-fill-lower {
  background: dodgerblue;
}

.player__seek-bar::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

.player__seek-bar::-ms-ticks-after {
  display: none;
}

.player__seek-bar::-ms-ticks-before {
  display: none;
}

.player__seek-bar::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}

.player__seek-bar::-ms-tooltip {
  display: none;
}
/*----------------------------------------------*/
